.journey-component {
    margin: 0 auto;
}
.previous-wrapper {
  height: 50px;
  margin: auto;
  padding: 11px 32px 11px 9px;
  border: solid 1px #979797;
  background-color: #1ea2b1;
  position: fixed;
  cursor: pointer;
  .previous-arrow {
    height: 18px;
    width: 18px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-top-left-radius: 5px;
    transform: rotate(-45deg);
    position: absolute;
    margin-top: 3px;
    @media screen and (max-width: 767.9px) {
      margin-top: 0px;
      bottom: 20px;
      margin-left: 10px;
    }
  }
  .previous-question-text {
    width: 40px;
    height: 24px;
    margin: 1px 0 3px 16px;
    font-family: EONBrixSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    @media screen and (max-width: 767.9px) {
      display: none;
    }
  }
  &--disabled {
    color: #bfbfbf;
    cursor: default;
    .previous-arrow{
        color: #bfbfbf;
        border-color: #bfbfbf;
    }
  }
  @media screen and (max-width: 767.9px) {
    bottom: 0;
    position: fixed;
    z-index: 2;
  }
}
.previous-wrapper-disabled{
  color: #bfbfbf !important;
  cursor: default;
}
.question-wrapper{
    @media (min-width: 1024px) {
        width: 1200px;
        margin-left: auto;
    }
    @media screen and (max-width: 767.9px) {
      margin-bottom: 200px;
    }
}
